{% extends 'base.html' %}
{% load static %}
{% block head_title %}About{% endblock %}
{% block head %}
<script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
<link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

{% endblock %}
{% block content %}
<div class="justify-center">
    <div class="rounded lg:w-1/3 md:w-1/2 w-[98%] p-5 mt-16 bg-clip-padding backdrop-filter backdrop-blur-xl bg-opacity-60 bg-color-nblue-700 border border-nblue mb-10" style="background-color: rgba(0, 42, 42, .6);"><i><p tabindex="0" class="text-nblue focus:outline-none text-2xl font-extrabold leading-6">
        <span class="text-2xl">About</span>
    </div>

<div class="container mx-0 flex flex-wrap items-center content-start">
    <div class="lg:justify-self-end lg:place-self-center ml-8 lg:fixed lg:self-start lg:w-2/6 bg-clip-padding backdrop-filter backdrop-blur-xl bg-opacity-60 bg-color-nblue-700 border border-nblue rounded-lg p-8 flex flex-col md:ml-auto w-[98%] p-0 m-2 h-[50%]" style="background-color: rgba(0, 42, 42, .6);">
        <model-viewer bounds="tight" enable-pan src="{% static 'scene.glb' %}" camera-controls environment-image="neutral" poster="{% static 'poster.png' %}" shadow-intensity="1" class="w-full lg:h-96 h-72" style="">

    </div>
    <div class="lg:w-3/5 flex flex-col md:ml-auto w-full">
    <div class="bg-clip-padding backdrop-filter backdrop-blur-xl bg-opacity-60 bg-color-nblue-700 border border-nblue rounded-lg p-8 text-nblue m-2" style="background-color: rgba(0, 42, 42, .6);">
        <p>Re-Dcrypt is a cryptic hunt organised by some passionate students.
            <br>
            <button class="mt-5 bg-nblue-800 hover:bg-nblue-500 hover:text-black border border-nblue hover:border-black text-nblue font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" onclick="window.location.href={% url 'rules' %}">
              Rules
            </button>     
            <button class="mt-5 bg-nblue-800 hover:bg-nblue-500 hover:text-black border border-nblue hover:border-black text-nblue font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" onclick="window.location.href={% url 'faqs' %}">
              FAQs
            </button>
            <button class="mt-5 bg-nblue-800 hover:bg-nblue-500 hover:text-black border border-nblue hover:border-black text-nblue font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" onclick="window.location.href={% url 'guidelines' %}">
              Guidelines
            </button>
            <a href="/discord">
            <button class="mt-5 bg-nblue-800 hover:bg-nblue-500 hover:text-black border border-nblue hover:border-black text-nblue font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
              Discord Server
            </button>
            </a>
        </p>
        <hr class="border border-nblue my-5">
        <a href="">
          <i class='bx bxs-envelope text-4xl'></i>
        </a>
        <a href="/discord">
          <i class='bx bxl-discord-alt text-4xl'></i>
        </a>
        <a href="">
          <i class='bx bxl-instagram text-4xl' ></i>
        </a>
        <a href="https://www.youtube.com/channel/UCPX97SUuKIr-ngxzvcAlEFQ">
          <i class='bx bxl-youtube text-4xl' ></i>
        </a>
        <a href="https://github.com/Re-Dcrypt">
          <i class='bx bxl-github text-4xl' ></i>
        </a>
      </div>
    <div class="w-[98%] rounded p-5 mt-11 ml-3 text-nblue bg-clip-padding backdrop-filter backdrop-blur-xl bg-opacity-60 bg-color-nblue-700 border border-nblue mb-10" style="background-color: rgba(0, 42, 42, .6);"><i>
      <p tabindex="0" class="text-nblue focus:outline-none text-2xl font-extrabold leading-6">
      <span class="text-5xl">Prizes</span></i>
      <table class="table-auto text-2xl border-collapse border border-nblue mt-5">
        <thead>
          <tr>
            <th class="border border-nblue p-5">Rank</th>
            <th class="border border-nblue p-5">Prizes</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="border border-nblue p-5"><b>Top 3</b></td>
            <td class="border border-nblue p-5">
              <ul class="list-disc list-inside text-lg">
              <li>Taskade Unlimited for Lifetime</li>
              <li>Certificate of appreciation</li>
              </ul>
            </td>
          </tr>          
          <tr>
            <td class="border border-nblue p-5">Top 10</td>
            <td class="border border-nblue p-5">
              <ul class="list-disc list-inside text-lg">
              <li>Taskade Unlimited for Lifetime</li>
              <li>Certificate of participation</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td class="border border-nblue p-5">Everyone</td>
            <td class="border border-nblue p-5">
              <ul class="list-disc list-inside text-lg">
              <li>Taskade Unlimited for 5 years</li>
              <li>Certificate of participation</li>
              </ul>
            </td>
          </tr>

        </tbody>
      </table>
    </div> 
    
    


    </div>


  </div></div>
{% endblock content %}
