{% extends 'base.html' %}
{% load static %}
{% block head_title %}Banned{% endblock %}
{% block content %}
<div class="justify-center">
    <div class="rounded lg:w-1/3  md:w-1/2 w-[98%] p-10 mt-16 bg-clip-padding backdrop-filter backdrop-blur-xl bg-opacity-60 bg-color-nblue-700 border border-nblue mb-10" style="background-color: rgba(0, 42, 42, .6);"><i><p tabindex="0" class="text-nblue focus:outline-none text-2xl font-extrabold leading-6"><span class="text-7xl">Banned</span>{% if reason %}<br><span>Reason: {{reason}}</span></i>{% endif %}
    </p><hr class="mt-3 mb-3 border-nblue">
        <div class=""><img src="{% static 'banned.svg' %}" alt="offline" class="max-h-[80vh]" style=""></img></div>
        <span class="text-xs text-nblue"><i><a href="https://storyset.com/user" class="hover:text-white">User illustrations by Storyset</a></i></span>
</div>
</div>
{% endblock content %}
