{% load static %}
{% load pwa %}
<!DOCTYPE html>

<html class="no-js" lang="">

<head>
    <meta charset="UTF-8">
    <title>{% block head_title %}{% endblock %} |  Re-Dcrypt</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico"/>
    {% progressive_web_app_meta %}
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
          theme: {
            extend: {
              colors: {
                'nblue': {  DEFAULT: '#00D2D2',  '50': '#8BFFFF',  '100': '#76FFFF',  '200': '#4DFFFF',  '300': '#25FFFF',  '400': '#00FBFB',  '500': '#00D2D2',  '600': '#009A9A',  '700': '#006262',  '800': '#002A2A',  '900': '#000000'},
              },
              fontFamily: {
                Orbitron: ['Orbitron'],
               },
            }
          }
        }
    </script>
    <script src="https://cdn.blobity.dev/by.js?noAutoStart"></script>
    <script src="https://unpkg.com/@themesberg/flowbite@latest/dist/flowbite.bundle.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
      header{
          -webkit-box-shadow: 0px 20px 20px #00D2D2;
          -moz-box-shadow:    0px 20px 20px #00D2D2;
          box-shadow:         0px 20px 20px #00D2D2;}
      body {
          background-image: url('{% static 'bg.svg' %}');
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
          }
      .install {
        display: none;
      }
      @media all and (display-mode: standalone) {
        .install{
          display: none;
        }
      }
    </style>
    <link rel="stylesheet" href="https://static.redcrypt.ml/scrollbar.css">
    {% block head %}{% endblock head %}
</head>
<body class="font-Orbitron">
    {% if user.is_authenticated %}
    {% include 'auth_header.html' %}
{% else %}
    {% include 'no_auth_header.html' %}
{% endif %}
    <center>{% block content %}{% endblock content %} 

  <div id="custom_toast" class="hidden fixed bottom-0 left-1/4 p-4 mb-4 text-sm rounded-lg bg-nblue-800 text-nblue border border-nblue  w-1/2">
  </div>
  
  </center> 
    <script src="https://unpkg.com/flowbite@1.4.7/dist/flowbite.js"></script>
<script>
  function showToast(message,time) {
    let toast = document.getElementById('custom_toast');
    toast.innerHTML = message;
    toast.classList.remove('hidden');
    
    setTimeout(function () {
        toast.classList.add('hidden');
    }, time);
}

  let userAgent = navigator.userAgent;
  if (navigator.userAgent.indexOf('Safari') != -1 && navigator.userAgent.indexOf('Chrome') == -1){
    showToast('Please use a chromium based browser or Firefox. You may experience some issues while using safari.',5000)
   }

   let deferredPrompt;
   window.addEventListener('beforeinstallprompt', function(e) {
       deferredPrompt = e;
   });
  </script>
  {% if user.is_authenticated %}
  <script>
   const installApp = document.getElementById('installapp');

    installApp.addEventListener('click', async () => {
        console.log(deferredPrompt)
        if (deferredPrompt !== undefined) {
            deferredPrompt.prompt();
            const { outcome } = await deferredPrompt.userChoice;
            if (outcome === 'accepted') {
                deferredPrompt = undefined;
            }
        } else {
          showToast('Re-Dcrypt App is already installed.',2000)
        }
    });
{% endif %}

</script>
{% block scripts %}{% endblock scripts %}
<script>
  const options = { color: 'rgb(0, 210, 210)',zIndex: '-1' };
  new Blobity(options);
</script>
</body>
</html>