{% extends 'base.html' %}
{% load static %}
{% block head_title %}Leaderboard{% endblock %}
{% block head %}
<style>
th{
    border-top: none;
    border-left: none;
    border-right: none;
}
#row{
    border: solid 1px #00d2d2;
    outline: solid 1px #00d2d2;
    transition: all 0.3s;
}
td{
    padding: 10px;
}
</style>
{% endblock %}
{% block content %}
<div class="justify-center">
    <div class="rounded lg:w-1/3 md:w-1/2 w-full p-5 mt-16 bg-clip-padding backdrop-filter backdrop-blur-xl bg-opacity-60 bg-color-nblue-700 border border-nblue mb-10" style="background-color: rgba(0, 42, 42, .6);"><i><p tabindex="0" class="text-nblue focus:outline-none text-2xl font-extrabold leading-6">
        <span class="text-2xl">Leaderboard</span>
    </div>
    <div class="rounded  lg:w-1/2 md:w-1/2 p-5 mt-16 bg-clip-padding backdrop-filter backdrop-blur-xl bg-opacity-60 bg-color-nblue-700 border border-nblue mb-10" style="background-color: rgba(0, 42, 42, .6);"><i><p tabindex="0" class="text-nblue focus:outline-none text-2xl font-extrabold leading-6">
        <span class="text-2xl">Your Rank: {{rank}}</span>
        <table class="table-auto w-full border-separate border-spacing-y-5">
            <thead class="border border-nblue" style="border-bottom: 1px solid #00d2d2;">
                <tr class="p-3">
                    <th class="border border-nblue text-left text-xl font-bold leading-6 text-nblue">Rank</th>
                    <th class="border border-nblue text-left text-xl font-bold leading-6 text-nblue">User</th>
                    <th class="border border-nblue text-left text-xl font-bold leading-6 text-nblue">Score</th>
                </tr>
            </thead>
            
            <tbody>
                {% for user in staff %}
                <tr class="border-spacing-y-10 border-spacing-x-0 hover:scale-110 hover:bg-clip-padding hover:backdrop-filter hover:backdrop-blur-xl hover:bg-opacity-80 hover:bg-color-nblue-700" id="row">
                    <td class="text-left text-xl leading-6 text-nblue">Staff</td>
                    <td class="text-left text-xl leading-6 text-nblue"><u><a href="{% url 'public-profile' username=user%}"><img src="{{ user.avatar_url }}" class="inline w-9 rounded border border-nblue mr-5">{{ user }}</a></u></td>
                    <td class="text-left text-xl leading-6 text-nblue">{{ user.score }}</td>
                </tr>
                {% endfor %}
                {% for user in players %}
                <tr class="border-spacing-y-10 border-spacing-x-0 hover:scale-110 hover:bg-clip-padding hover:backdrop-filter hover:backdrop-blur-xl hover:bg-opacity-80 hover:bg-color-nblue-700" id="row">
                    <td class="text-left text-xl leading-6 text-nblue">{{ forloop.counter }}</td>
                    <td class="text-left text-xl leading-6 text-nblue"><u><a href="{% url 'public-profile' username=user%}"><img src="{{ user.avatar_url }}" class="inline w-9 rounded border border-nblue mr-5">{{ user }}</a></u></td>
                    <td class="text-left text-xl leading-6 text-nblue">{{ user.score }}</td>
                </tr>
                {% endfor %}
                {% if banned %}
                {% for user in banned %}
                <tr class="border-spacing-y-10 border-spacing-x-0 hover:scale-110 hover:bg-clip-padding hover:backdrop-filter hover:backdrop-blur-xl hover:bg-opacity-80 hover:bg-color-nblue-700" id="row">
                    <td class="text-left text-xl leading-6 text-nblue">☠</td>
                    <td class="text-left text-xl leading-6 text-nblue"><u><img src="{{ user.avatar_url }}" class="inline w-9 rounded border border-nblue mr-5">{{ user }}</u></td>
                    <td class="text-left text-xl leading-6 text-nblue">☠</td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}